<% provide(:title, "Plants") %>

<div class="center jumbotron">
  <h1>Welcome to Green</h1>
  <h2>
    This is the home page for my automatic plant watering system.
  </h2>
</div>
<%= link_to image_tag("green_logo", alt: "Green logo", width: "100"), "https://green.ealmuina.xyz/" %>