<footer class="footer">
  <small>
    Green: Automatic plant watering system by <a href="https://ealmuina.xyz/">Eddy Almuiña</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>